:root {
    --gold-500: hsl(31, 77%, 52%);
    --cyan-800: hsl(184, 100%, 22%);
    --green-950: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --gray-100: hsl(0, 0%, 95%);

    --fs: 0.9375rem; /* 15px */

    --ff-body: 'Lexend Deca', sans-serif;
    --fw-body: 400;

    --ff-heading: 'Big Shoulders', cursive;
    --fw-heading: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-body);
    font-weight: var(--fw-body);
    font-size: var(--fs);
    background-color: var(--gray-100);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-heading);
    font-size: 40px;
    color: var(--gray-100);
}

p {
    letter-spacing: 0.1px;
    line-height: 25px;
    color: var(--transparent-white);
}

button {
    width: 147px;
    height: 48px;
    border: none;
    border-radius: 24px;
    background-color: var(--gray-100);
    font-family: var(--ff-body);
    cursor: pointer;

    &:hover {
        color: var(--transparent-white);
        background-color: transparent;
        border: 2px solid var(--transparent-white);
    }
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1.81rem;
    width: 327px;
    padding: 3rem;
}

.svg-size {
    width: 64px;
    height: 40px;
}

.sedan-column {
    background-color: var(--gold-500);
    border-radius: 8px 8px 0 0;
    color: var(--gold-500);
}

.suv-column {
    background-color: var(--cyan-800);
    color: var(--cyan-800);
}

.luxury-column {
    background-color: var(--green-950);
    border-radius: 0 0 8px 8px;
    color: var(--green-950);
}

.sedans-btn {
    color: var(--gold-500);
}

.suvs-btn {
    color: var(--cyan-800);
}

.luxury-btn {
    color: var(--green-950);
}

@media (min-width: 1024px) {
    .columns {
        display: flex;
    }

    .column {
        width: 307px;
        gap: 34px;
    }

    button {
        margin-top: 52px;
    }

    .sedan-column {
        border-radius: 8px 0 0 8px;
    }

    .luxury-column {
        border-radius: 0 8px 8px 0;
    }
}
