/*
## Colors

### Primary

- Green 500: hsl(158, 36%, 37%)
- Green 700: hsl(158, 42%, 18%)

### Neutral

- Black: hsl(212, 21%, 14%)
- Grey: hsl(228, 12%, 48%)
- Cream: hsl(30, 38%, 92%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700
*/

:root {
    --primary-light-green: hsl(158, 36%, 37%);
    --primary-dark-green: hsl(158, 42%, 18%);

    --neutral-black:hsl(212, 21%, 14%);
    --neutral-grey: hsl(228, 12%, 48%);
    --neutral-cream: hsl(30, 38%, 92%);
    --neutral-white: hsl(0, 0%, 100%);

    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-fraunces: 'Fraunces', serif;

    --fs-normal: 0.875em;
    --fs-large: 1.5em;

    --fw-normal: 500;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: var(--ff-montserrat);
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal);
    color: var(--neutral-grey);
    background-color: var(--neutral-cream);
}

h1{
    font-family: var(--ff-fraunces);
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
    color: var(--neutral-black);
}

img {
    width: 100%;
    display: block;
}
.product-card-container {
    background-color: var(--neutral-white);
    width: 290px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    
}

/* .image-container > img {
    width: 100%;
    background-image: url('/images/image-product-mobile.jpg');
} */

.product-description-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
   gap: 15px;

}

.product-type {
    letter-spacing: 5px;
    font-size: 0.75em;
}

