:root {
    --primary-light-green: hsl(158, 36%, 37%);
    --primary-dark-green: hsl(158, 42%, 18%);

    --neutral-black:hsl(212, 21%, 14%);
    --neutral-grey: hsl(228, 12%, 48%);
    --neutral-cream: hsl(30, 38%, 92%);
    --neutral-white: hsl(0, 0%, 100%);

    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-fraunces: 'Fraunces', serif;

    --fs-small: 0.875em;
    --fs-normal: 1em;
    --fs-large: 1.5em;
    --fs-larger: 2.3em;

    --fw-normal: 500;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--ff-montserrat);
    font-size: var(--fs-small);
    font-weight: var(--fw-normal);
    color: var(--neutral-grey);
    background-color: var(--neutral-cream);
}

h1{
    font-family: var(--ff-fraunces);
    font-size: var(--fs-larger);
    font-weight: var(--fw-bold);
    color: var(--neutral-black);
}

a {
    text-decoration: none;
    color: var(--neutral-white);
}

img {
    width: 100%;
    display: block;
}

.product-card-container {
    background-color: var(--neutral-white);
    width: 343px;
    height: auto;
    border-radius: 10px;
}

.desktop-image {
    display: none;
}

.image-container > img {
    width: 343px;
    height: 241px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.product-description-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-type {
    letter-spacing: 5px;
}

.price-box {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.price-box > h1 {
    color: var(--primary-light-green);
}

.add-to-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    background-color: var(--primary-light-green);
    border-radius: 10px;
}

.add-to-cart-button > img {
    height: 16px;
    width: 16px;
}

.add-to-cart-button:hover, .add-to-cart-button:active {
    background-color: var(--primary-dark-green);
}

@media (min-width: 768px) {
    .product-card-container {
        width: 600px;
        display: flex;
    }

    .desktop-image {
        display: block;
    }

    .mobile-image {
        display: none;
    }

    .image-container > img {
        width: 300px;
        height: 450px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    .product-description-container {
        padding: 30px 32px;
        gap: 24px;
    }
}