/**
## Colors

### Primary

- Navy 950 (main background): hsl(233, 47%, 7%)
- Blue 950 (card background): hsl(244, 37%, 16%)
- Purple 500 (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- White (main paragraph): hsla(0, 0%, 100%, 0.75)
- White (stat headings): hsla(0, 0%, 100%, 0.6)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400 
*/

:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 37%, 16%);
    --accent-color: hsl(277, 64%, 61%);
    --main-heading-stats: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);

    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 

    --font-heading: 'Lexend Deca', var(--system-ui);
    --font-body: 'Inter', var(--system-ui);

    --fw-normal: 400;
    --fw-bold: 700;
}

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    line-height: 1.5;
}

img {
    display:block;
    width: 100%
}

button {
    border: none;
    font: inherit;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--main-background);
}

.stats-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--card-background);

}