/**
## Colors

### Primary

- Navy 950 (main background): hsl(233, 47%, 7%)
- Blue 950 (card background): hsl(244, 37%, 16%)
- Purple 500 (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- White (main paragraph): hsla(0, 0%, 100%, 0.75)
- White (stat headings): hsla(0, 0%, 100%, 0.6)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400 
*/

:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 37%, 16%);
    --accent-color: hsl(277, 64%, 61%);
    --overlay-color: hsla(277, 81%, 23%, 0.5);
    --main-heading-stats: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);

    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 

    --font-lxnd: 'Lexend Deca', var(--system-ui);
    --font-inter: 'Inter', var(--system-ui);

    --fw-normal: 400;
    --fw-bold: 700;
}

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-inter);
}

img {
    display:block;
    width: 100%
}

button {
    border: none;
    font: inherit;
    cursor: pointer;
}

p {
    color: var(--main-paragraph);
    font-size: 0.9375rem;
    line-height: 1.5;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--main-background);
}

.stats-card {
    width: 327px;
    border-radius: 0.5rem;
    background-color: var(--card-background);
    margin-top: 8px;
}

.stats-description {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    padding: 2.5rem 2rem;
}

.stats-main-heading,
.stats {
    color: var(--main-heading-stats);
}

.stats-image,
.preview-image,
.overlay {
    border-radius: 0.5rem 0.5rem 0 0;
}

.stats-main-heading,
.stats-info-text,
.stats {
    text-align: center;
}

.stats-main-heading {
    font-family: var(--font-inter);
    font-weight: var(--fw-bold);
    font-size: 1.75rem;
}

.highlighted-text {
    color: var(--accent-color)
}

.stats-heading {
    color: var(--stat-headings);
    font-size: 0.75rem;
    letter-spacing: 1.3px;
}

.stats-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.stats-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.individual-stat-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.stats-image {
    position: relative;
    border-radius: 0.5rem 0.5rem 0 0;
}

.overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
}

/* @media (min-width: 768px) {
    .stats-card {
        display: flex;
        flex-direction: row-reverse;
        width: 540px;
        height: 500px;
    }

    .stats-description {
        padding: 3rem;
    }

    .stats-main-heading {
        font-size: 2.25rem;
    }

    .stats-box {
        flex-direction: row;
        justify-content: space-between;
    }
} */